.the_events{
  background-image: url("../img/event_back.jpg");
  background-size: cover;
}

.the_sound{
  background-image: url("../img/rilla_15.jpg");
  background-size: cover;
}

#section3{

  /*background: black;*/
  /*opacity: 1;*/
}

.blog-home2 {
  color: #8d97ad;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
}

.blog-home2 h1, .blog-home2 h2, .blog-home2 h3, .blog-home2 h4, .blog-home2 h5, .blog-home2 h6 {
  color: white;
  font-family: 'Dosis', sans-serif;
}

.blog-home2 .font-weight-medium {
  font-weight: 500;
}



.blog-home2 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home2 a.link {
  color: #3e4555;
}


.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}

.blog-home2 .bg-info-gradiant {
  background: #1A1A1A;
  background: -webkit-linear-gradient(legacy-direction(to right), #1A1A1A 0%, #D3A801 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1A1A1A), to(#D3A801));
  background: -webkit-linear-gradient(left, #1A1A1A 0%, #D3A801 100%);
  background: -o-linear-gradient(left, #1A1A1A 0%, #D3A801 100%);
  background: linear-gradient(to right, #1A1A1A 0%, #D3A801 100%);
}

.tick_card{
  background-color: black;
}

.tickets_button{
  background-color: #f8cc01;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  /*padding-top: 500px;*/
}

.the_tick {
  background-color: black;
  color: #f8cc01;
  border: 2px solid #f8cc01;

  /*padding-top: 50px;*/
}

.the_tick:hover {
  background-color: #f8cc01;
  text-decoration: none;
  color: white;
}




