.photo-gallery {
  color: #313437;
  background-color: black;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  /*margin-bottom: 40px;*/
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;

  /*color: inherit;*/
  color: white;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.image_link{
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
}

.image_link:hover{
  text-decoration: none;
  color: #f8cc01 ;
}
